# Dependency directories
/vendor/
node_modules/

# Laravel logs & caches
storage/*.key
storage/logs/
storage/framework/
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/

# Public storage
public/storage
public/hot

# Build artifacts
/public/build

# Local environment files
.env
.env.*.backup
.env.production

# Homestead & Vagrant
Homestead.yaml
Homestead.json
/.vagrant

# PHPUnit results & PHPStorm
.phpunit.result.cache
.phpactor.json

# Composer & npm
composer.lock
npm-debug.log
yarn-error.log
auth.json

# Docker (se usi Docker)
docker-compose.yml
/.docker

# Specific folders you might not want
/React
/container
