{
    "semi": false,
    "singleQuote": false,
    "overrides": [
        {
            "files": [
                "*.html",
                "*.js",
                "*.jsx"
            ],
            "options": {
                "parser": "babel",
                "semi": true,
                "singleQuote": true
            }
        }
    ]
}